<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="http://angular-ui.github.com/ng-grid/css/ng-grid.css" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
  <script type="text/javascript" src="http://angular-ui.github.com/ng-grid/lib/ng-grid.debug.js"></script>
  <link href="style.css" rel="stylesheet" />
  <script src="script.js"></script>
</head>

<body ng-app="tableExpandCollapseApp">
  <h1> Tables that supports expand (+) and collapse (-) rows. </h1>
  <ul>
    <li> On click of '+' of any row (parenet row), it will open up the details (child rows) if present. </li>
  <li>On click of '-' of any row (parenet row), it will collapse the details (child rows) if any expanded earlier.</li>
  </ul>
  <hr/>
  
  <div ng-controller="tableExpandCollapseController">

    <h2>HTML table</h2>
    <table>
      <thead>
        <tr>
          <td>&nbsp;</td>
          <td>Name</td>
          <td>Quantity</td>
          <td>Type</td>
          <td>Cost</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="si in selItems">
          <td>
            <div ng-if='si.Summary'>
              <button ng-click="toggleDisplay(si.Type)">{{si.Summary}}</button>
            </div>
          </td>
          <td>{{si.Name}}</td>
          <td>{{si.Quantity}}</td>
          <td>{{si.Type}}</td>
          <td>{{si.Cost}}</td>
        </tr>
      </tbody>
    </table>
    <hr/>
 
    <h2>ngGrid</h2>
    <div class="gridStyle" ng-grid="gridOptions"></div>
    <hr/>
    
   </div>
</body>

</html>
