* {
  padding: 10;
  margin: 10;
  border: 10;
}
.header {
  background-color: rgba(44, 163, 0, 0.4);
}
.headerPane {
  clear: none;
  float: left;
  position: relative;
  width: 100%;
  height: 20%;
}
.left {
  clear: none;
  float: left;
  position: relative;
  width: 50%;
  height: 80%;
}
.right {
  clear: none;
  float: left;
  position: relative;
  width: 50%;
  height: 80%;
}
.ngViewport.ng-scope {
  height: auto !important;
  overflow-y: hidden;
}
.ngTopPanel.ng-scope, .ngHeaderContainer {
  width: auto !important;
}